In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import linregress
import seaborn as sns
import matplotlib.pyplot as plt

file = pd.read_csv("Data/2018_citybike_rides_sample.csv")

file.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,592,2018-01-22 08:02:38.5270,2018-01-22 08:12:31.2680,478.0,11 Ave & W 41 St,40.760301,-73.998842,505.0,6 Ave & W 33 St,40.749013,-73.988484,33395,Subscriber,1986,1
1,450,2018-01-03 10:00:25.9200,2018-01-03 10:07:56.2390,509.0,9 Ave & W 22 St,40.745497,-74.001971,474.0,5 Ave & E 29 St,40.745168,-73.986831,29115,Subscriber,1981,1
2,629,2018-01-30 18:52:01.6100,2018-01-30 19:02:31.3370,379.0,W 31 St & 7 Ave,40.749156,-73.991600,487.0,E 20 St & FDR Drive,40.733143,-73.975739,26062,Subscriber,1992,1
3,389,2018-01-24 19:06:03.7390,2018-01-24 19:12:33.3570,3090.0,N 8 St & Driggs Ave,40.717746,-73.956001,3106.0,Driggs Ave & N Henry St,40.723250,-73.943080,17766,Subscriber,1974,1
4,302,2018-01-08 17:09:12.6380,2018-01-08 17:14:15.5780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,483.0,E 12 St & 3 Ave,40.732233,-73.988900,30799,Subscriber,1978,1

In [3]:
df = file

In [4]:
df.value_counts("gender")

gender
1    240604
2     78568
0     26991
Name: count, dtype: int64

In [5]:
df.value_counts("usertype")

usertype
Subscriber    311628
Customer       34535
Name: count, dtype: int64

In [6]:
df.value_counts("birth year")

birth year
1969    30732
1988    13779
1990    13692
1989    13553
1991    13163
        ...
1895        3
1890        2
1931        2
1916        1
1889        1
Name: count, Length: 93, dtype: int64

In [9]:
df2 = df[df['birth year'] >= 1950]

In [10]:
# Drop rows where gender is 0
df3 = df2[df2['gender'] != 0]

print(df3)

        tripduration                 starttime                  stoptime  \
0                592  2018-01-22 08:02:38.5270  2018-01-22 08:12:31.2680
1                450  2018-01-03 10:00:25.9200  2018-01-03 10:07:56.2390
2                629  2018-01-30 18:52:01.6100  2018-01-30 19:02:31.3370
3                389  2018-01-24 19:06:03.7390  2018-01-24 19:12:33.3570
4                302  2018-01-08 17:09:12.6380  2018-01-08 17:14:15.5780
...              ...                       ...                       ...
346157           335  2018-12-03 21:24:57.9470  2018-12-03 21:30:33.3890
346158           745  2018-12-13 08:36:39.7620  2018-12-13 08:49:05.0370
346159          1151  2018-12-10 08:28:44.4410  2018-12-10 08:47:56.1400
346160          3452  2018-12-03 17:59:02.8320  2018-12-03 18:56:35.5920
346162          1076  2018-12-28 17:34:39.7970  2018-12-28 17:52:36.2300

        start station id       start station name  start station latitude  \
0                  478.0         11 Ave & W 41 St               40.760301
1                  509.0          9 Ave & W 22 St               40.745497
2                  379.0          W 31 St & 7 Ave               40.749156
3                 3090.0      N 8 St & Driggs Ave               40.717746
4                  537.0  Lexington Ave & E 24 St               40.740259
...                  ...                      ...                     ...
346157             476.0          E 31 St & 3 Ave               40.743943
346158             495.0         W 47 St & 10 Ave               40.762699
346159             432.0        E 7 St & Avenue A               40.726218
346160             459.0         W 20 St & 11 Ave               40.746745
346162            3462.0          E 44 St & 2 Ave               40.751184

        start station longitude  end station id         end station name  \
0                    -73.998842           505.0          6 Ave & W 33 St
1                    -74.001971           474.0          5 Ave & E 29 St
2                    -73.991600           487.0      E 20 St & FDR Drive
3                    -73.956001          3106.0  Driggs Ave & N Henry St
4                    -73.984092           483.0          E 12 St & 3 Ave
...                         ...             ...                      ...
346157               -73.979661           486.0       Broadway & W 29 St
346158               -73.993012          3462.0          E 44 St & 2 Ave
346159               -73.983799           146.0     Hudson St & Reade St
346160               -74.007756           477.0          W 41 St & 8 Ave
346162               -73.971387           168.0          W 18 St & 6 Ave

        end station latitude  end station longitude  bikeid    usertype  \
0                  40.749013             -73.988484   33395  Subscriber
1                  40.745168             -73.986831   29115  Subscriber
2                  40.733143             -73.975739   26062  Subscriber
3                  40.723250             -73.943080   17766  Subscriber
4                  40.732233             -73.988900   30799  Subscriber
...                      ...                    ...     ...         ...
346157             40.746201             -73.988557   18564  Subscriber
346158             40.751184             -73.971387   26543  Subscriber
346159             40.716250             -74.009106   18628  Subscriber
346160             40.756405             -73.990026   32986  Subscriber
346162             40.739713             -73.994564   29039  Subscriber

        birth year  gender
0             1986       1
1             1981       1
2             1992       1
3             1974       1
4             1978       1
...            ...     ...
346157        1989       1
346158        1972       1
346159        1991       2
346160        1966       1
346162        1987       2

[315830 rows x 15 columns]

In [11]:
df3.value_counts("gender")

gender
1    237930
2     77900
Name: count, dtype: int64

In [12]:
df3.value_counts("birth year")

birth year
1988    13697
1990    13568
1989    13447
1991    13129
1992    12313
1987    12133
1986    11897
1985    11617
1993    11128
1984    10870
1983    10035
1982     9334
1981     8909
1994     8360
1980     8125
1979     7596
1978     7040
1977     6475
1976     6389
1970     6363
1975     6013
1995     6008
1974     6007
1973     5968
1971     5925
1972     5828
1969     5736
1967     5272
1968     5241
1964     4794
1966     4772
1965     4723
1963     4460
1962     4248
1960     3819
1961     3750
1996     3563
1959     3273
1958     2873
1997     2807
1957     2691
1956     2437
1998     2195
1954     1874
1955     1768
1953     1581
1999     1544
1952     1071
1951     1002
2000      895
1950      699
2001      446
2002      122
Name: count, dtype: int64

In [13]:
df3.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [14]:
df4 = df3.rename(columns={"tripduration": "tripDuration", "starttime":"startTime", "stoptime":"stopTime", "start station id":"startStationID",
       "start station name":"startStationName", "start station latitude":"startStationLatitude",
       "start station longitude":"startStationLongitude", "end station id":"endStationID", "end station name":"endStationName",
       "end station latitude":"endStationLatitude", "end station longitude":"endStationLongitude", "bikeid":"bikeID", "usertype":"userType",
       "birth year":"birthYear", "gender":"gender"})

In [15]:
df4.columns

Index(['tripDuration', 'startTime', 'stopTime', 'startStationID',
       'startStationName', 'startStationLatitude', 'startStationLongitude',
       'endStationID', 'endStationName', 'endStationLatitude',
       'endStationLongitude', 'bikeID', 'userType', 'birthYear', 'gender'],
      dtype='object')

In [16]:
df4.describe()

,tripDuration,startStationID,startStationLatitude,startStationLongitude,endStationID,endStationLatitude,endStationLongitude,bikeID,birthYear,gender
count,3.158300e+05,315806.000000,315830.000000,315830.000000,315806.000000,315830.000000,315830.000000,315830.000000,315830.000000,315830.000000
mean,8.423748e+02,1209.840988,40.735950,-73.984984,1432.073922,40.736130,-73.984643,26704.652082,1980.045911,1.246652
std,1.042843e+04,1316.931981,0.028723,0.017496,1402.691203,0.029241,0.017919,6201.359159,11.495690,0.431063
min,6.100000e+01,72.000000,40.646538,-74.025353,72.000000,40.646538,-74.038051,14529.000000,1950.000000,1.000000
25%,3.440000e+02,346.000000,40.718502,-73.996674,362.000000,40.718822,-73.996674,20565.000000,1972.000000,1.000000
50%,5.640000e+02,466.000000,40.736502,-73.987763,492.000000,40.736529,-73.987654,28470.000000,1983.000000,1.000000
75%,9.530000e+02,3092.000000,40.754557,-73.976687,3168.000000,40.754666,-73.976376,31980.000000,1989.000000,1.000000
max,3.204053e+06,3721.000000,45.506264,-73.568906,3721.000000,45.506264,-73.568906,35806.000000,2002.000000,2.000000

In [17]:
df4.shape

(315830, 15)

In [19]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 315830 entries, 0 to 346162
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tripDuration           315830 non-null  int64
 1   startTime              315830 non-null  object
 2   stopTime               315830 non-null  object
 3   startStationID         315806 non-null  float64
 4   startStationName       315806 non-null  object
 5   startStationLatitude   315830 non-null  float64
 6   startStationLongitude  315830 non-null  float64
 7   endStationID           315806 non-null  float64
 8   endStationName         315806 non-null  object
 9   endStationLatitude     315830 non-null  float64
 10  endStationLongitude    315830 non-null  float64
 11  bikeID                 315830 non-null  int64
 12  userType               315830 non-null  object
 13  birthYear              315830 non-null  int64
 14  gender                 315830 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 38.6+ MB

In [20]:
df5 = df4.dropna()

In [21]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 315806 entries, 0 to 346162
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tripDuration           315806 non-null  int64
 1   startTime              315806 non-null  object
 2   stopTime               315806 non-null  object
 3   startStationID         315806 non-null  float64
 4   startStationName       315806 non-null  object
 5   startStationLatitude   315806 non-null  float64
 6   startStationLongitude  315806 non-null  float64
 7   endStationID           315806 non-null  float64
 8   endStationName         315806 non-null  object
 9   endStationLatitude     315806 non-null  float64
 10  endStationLongitude    315806 non-null  float64
 11  bikeID                 315806 non-null  int64
 12  userType               315806 non-null  object
 13  birthYear              315806 non-null  int64
 14  gender                 315806 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 38.6+ MB

In [22]:
# Define columns for each split
columns_1 = ['bikeID', 'startStationID','endStationID', 'startTime', 'stopTime','tripDuration']
columns_2 = ['userType', 'birthYear', 'gender', 'startStationLatitude', 'startStationLongitude', 'endStationLatitude','endStationLongitude']

# Split DataFrame
df6 = df5[columns_1]
df7 = df5[columns_2]

In [27]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 315806 entries, 0 to 346162
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   bikeID          315806 non-null  int64
 1   startStationID  315806 non-null  float64
 2   endStationID    315806 non-null  float64
 3   startTime       315806 non-null  object
 4   stopTime        315806 non-null  object
 5   tripDuration    315806 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 24.9+ MB

In [28]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 315806 entries, 0 to 346162
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userType               315806 non-null  object
 1   birthYear              315806 non-null  int64
 2   gender                 315806 non-null  int64
 3   startStationLatitude   315806 non-null  float64
 4   startStationLongitude  315806 non-null  float64
 5   endStationLatitude     315806 non-null  float64
 6   endStationLongitude    315806 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 27.3+ MB

In [25]:
df6.to_json(orient="records", path_or_buf = "bike_time.json")

In [26]:
df7.to_json(orient="records", path_or_buf = "bike_user_and_map.json")